*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/app/libs
/captures
.externalNativeBuild

.idea

build
build.gradle
Crowmail.iml
gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle

app/app.iml
app/build
app/build.gradle
app/libs
app/proguard-rules.pro
